
#realtime-search{
  background-image:url(https://img.freepik.com/free-photo/abstract-blur-and-defocused-restaurant-and-coffee-shop-cafe-interior_1203-9267.jpg?size=626&ext=jpg);
  width:600px;
  height: 600px;
  padding: 10px;
}

.search-box{
  width: 500px;
  height: 40px;
}

#search-text{
  position: absolute;
  width: 300px;
  height: 30px;
  border-style: dotted;
  border-color: #6c3524;
  margin-top: 25px;
  margin-bottom: 25px;
}

.target-box{
  list-style: none;
  width: 500px;
  padding: 20px;

}

.clear-fix::after{
  content: "";
  clear: both;
  display: block;
}

.hidden {
  display: none
}

.target-list{
  float: left;
  width: 250px;
  text-align: center;
  background-color: rgba(160, 82, 45, 0.3);
}

.target-list > p {
  margin-top: 10px;
  margin-bottom: 0px;
  color: #FFF;
  font-weight: bold;
  text-shadow: 1px 5px 5px brown;
}

.target-list > p:first-child{
  font-size: 15px;
  
}
.target-list > p:last-child{
  font-size: 13px;
  margin-bottom: 20px;
  
}

.target-list > img{
  margin-top: 15px;
  border: 2px solid #fff;
}
